@using İkinciElKitap.Models
@model List<Yayinevi>
@{
    ViewBag.Title = "Index";
}

<h2>Yayınevi Detayları</h2>
<div>

    <a class="btn btn-success rounded-2" href="/AdminYayinevi/Ekle">Yayınevi Ekle</a>

</div>
<div>
    <table class="table table-hover">
        <tr>
            <th>Yayinevi ID</th>
            <th>Yayinevi Adı</th>
            <th>Sil</th>
            <th>Güncelle</th>

        </tr>
        <tbody>
            @foreach (Yayinevi kt in Model)
            {
                <tr>
                    <td> @kt.YayineviID</td>
                    <td> @kt.YayineviAd</td>
                    <td> <a class="btn btn-danger ktSil" data-ktId="@kt.YayineviID" href="#">Sil</a> </td>
                    <td> <a href="@Url.Action("Ekle", "AdminYayinevi", new { id = kt.YayineviID })" class="btn btn-info">Güncelle</a> </td>

                </tr>
            }

        </tbody>
    </table>

</div>

@section scripts{
    <script src="~/Shared/js/jquery-1.11.1 (1).js"></script>

    <script>
        $(".ktSil").click(
            function () {

                var sonuc = confirm("Yayinevi Silinsin Mi?")
                if (sonuc) {
                    var ktId = $(this).attr("data-ktId")
                    //alert("ID=" + ktId);
                    $.ajax(
                        {

                            type: "POST",
                            url: "/AdminYayinevi/Sil/" + ktId,
                            success: function () {
                                alert("Yayinevi silindi");
                                window.Location.replace("/AdminYayinevi/Index");

                            },


                            error: function () {
                                alert("Hata oluştu");
                            }
                        }

                    );

                }
                else {
                    alert("işlem ipal edildi");

                }
            }



        );

    </script>
}

